<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Location System</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Location System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">My Locations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/locations/all">Shared Locations</a>
        </li>
      </ul>
      <div class="d-flex ms-auto order-5">
        <form  action="/" method="get">
          <button class="btn btn-outline-danger" onclick="logout()" type="submit">Logout</button>
        </form>
      </div>
    </div>
  </div>
</nav>
<script>
  function logout() {
    // Delete the "user" cookie by setting its expiration date to the past
    document.cookie = "user=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    // Redirect the user to the login page
    window.location.href = "/login";
  }
</script>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><p th:text="${'Friends on '+ location.getName()}"></p></h5>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Permissions</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <!-- Loop through the friend users and display each one in a row -->
            <tr th:each="friend : ${friends}">
              <td th:text="${friend.firstName}"></td>
              <td th:text="${friend.lastName}"></td>
              <td th:text="${friend.email}"></td>
              <td>
                <!-- Display the permissions for this friend user -->
                <span th:text="${friend.getAccessType()}"></span>
              </td>
              <td>
                <form action="/location/access"
                      method="post">
                  <input type="hidden" name="lid" th:value="${location.lid}">
                  <input type="hidden" name="email" th:value="${friend.email}">
                  <button class="btn-danger btn-sm">Change mode</button>
                </form>
                <form action="/location/unfriend"
                      method="post">
                  <input type="hidden" name="lid" th:value="${location.lid}">
                  <input type="hidden" name="email" th:value="${friend.email}">
                  <button class="btn-danger btn-sm">Delete</button>
                </form>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

