<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}">
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/login}" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" th:required="true">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" th:required="true">
                        </div>
                        <div th:if="${param.error}">
                            <div class="alert alert-danger" role="alert">
                                Invalid email or password.
                            </div>
                        </div>
                        <a href="/register">
                            <p>Register</p>
                        </a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>

</body>
</html>
